@import './reset.css';
@import 'tailwindcss';

@theme {
  --font-sans: 'Open Sans', sans-serif;
}

body {
  font-family: var(--font-sans);
}

.description-expand {
  max-height: 24rem;
  opacity: 1;
  margin-top: 1rem;
  transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out, margin-top 0.4s ease-in-out;
  overflow: hidden;
}

.description-collapse {
  max-height: 0;
  opacity: 0;
  margin-top: 0;
  transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out, margin-top 0.4s ease-in-out;
  overflow: hidden;
}
